In [18]:
###Lab:05                                        Date:25.02.222
###Program No.:05

###Program Name: Write a Python Program to find Inverted Index and  
#                Process Boolean Query.

#ANINDYA NAG
# ROLL : UG/02/BTCSE/2018/005

#CODE:2

In [19]:
# Collection of documents 

D1="I play tennis everyday"
D2="Everyday I go to play cricket"
D3="I like cricket and tennis"
D4="Dhoni won the world cup"
D5="I love a cup of tea everyday"

In [20]:
docs = [D1,D2,D3,D4,D5]
docs

['I play tennis everyday',
 'Everyday I go to play cricket',
 'I like cricket and tennis',
 'Dhoni won the world cup',
 'I love a cup of tea everyday']

In [21]:
# Gather the set of all unique terms

unique_terms = {term for doc in docs for term in doc.split()}
unique_terms

{'Dhoni',
 'Everyday',
 'I',
 'a',
 'and',
 'cricket',
 'cup',
 'everyday',
 'go',
 'like',
 'love',
 'of',
 'play',
 'tea',
 'tennis',
 'the',
 'to',
 'won',
 'world'}

In [22]:
# Construct an inverted index
# here as a Python dictionary for ease of interpretability

inverted_index = {}

for i, doc in enumerate(docs):
    for term in doc.split():
        if term in inverted_index:
            inverted_index[term].add(i+1)
        else: inverted_index[term] = {i+1}

inverted_index

{'Dhoni': {4},
 'Everyday': {2},
 'I': {1, 2, 3, 5},
 'a': {5},
 'and': {3},
 'cricket': {2, 3},
 'cup': {4, 5},
 'everyday': {1, 5},
 'go': {2},
 'like': {3},
 'love': {5},
 'of': {5},
 'play': {1, 2},
 'tea': {5},
 'tennis': {1, 3},
 'the': {4},
 'to': {2},
 'won': {4},
 'world': {4}}

In [23]:
# Bitwise OR to construct 'this' or 'that' queries.

import numpy as np

docs_array = np.array(docs, dtype='object')

v1 = np.array(inverted_index[input()])    
v2 = np.array(inverted_index[input()])

print(v1)
print(v2)
print('-------')
v3 = v1 | v2
print(v3)

play
tea
{1, 2}
{5}
-------
{1, 2, 5}

In [24]:
# Bitwise AND to construct 'this' and 'that' queries.

v1 = np.array(inverted_index[input()])    
v2 = np.array(inverted_index[input()])

print(v1)
print(v2)
print('-------')
v3 = v1 & v2
print(v3)

play
cricket
{1, 2}
{2, 3}
-------
{2}

In [25]:
# But Not

v1 = np.array(inverted_index[input()])    
v2 = np.array(inverted_index[input()])

print(v1)
print(v2)
print('-----------')

v3 = v1 - v2

print(v3)

play
cricket
{1, 2}
{2, 3}
-----------
{1}